Repository prob-ml/bliss, pull requests merged in 2022-05, with the labels that each got.

#606 Make variational mode a special case of LocationEncoder.sample()
  bliss/encoder.py
  bliss/models/location_encoder.py
Labels: refactoring

#607 add blendedness
  bliss/datasets/galsim_galaxies.py
  tests/case_studies/sdss_galaxies/test_galaxy_blend.py
Labels: case study, metrics, figures

#608 Refactoring towards metrics on simulated galsim blends
  .github/workflows/tests.yml
  .gitignore
  bliss/catalog.py
  bliss/datasets/galsim_galaxies.py
  bliss/datasets/sdss.py
  bliss/encoder.py
  bliss/inference.py
  bliss/models/binary.py
  bliss/models/decoder.py
  bliss/models/galaxy_encoder.py
  bliss/reporting.py
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/figures/sdss_gal_blend1.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend2.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend3.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend4.png
  case_studies/sdss_galaxies/figures/sdss_gal_blend5.png
  case_studies/sdss_galaxies/figures/sdss_recon0.png
  case_studies/sdss_galaxies/figures/sdss_recon1.png
  case_studies/sdss_galaxies/figures/single_galaxy_meas_bins.png
  case_studies/sdss_galaxies/figures/single_galaxy_meas_contours.png
  case_studies/sdss_galaxies/models/simulated_blended_galaxies_images.png
  case_studies/sdss_galaxies/notebooks/scratch/current.ipynb
  case_studies/sdss_galaxies/plots.py
  case_studies/sdss_galaxies_vae/reconstruction.py
  tests/case_studies/sdss_galaxies/test_reporting.py
  tests/star_basic/conftest.py
Labels: case study, figures

#634 Run encoder on batches
  bliss/catalog.py
  bliss/encoder.py
  case_studies/sdss_galaxies/config/config.yaml
  case_studies/sdss_galaxies/figures/sdss_recon0.png
  case_studies/sdss_galaxies/models/simulated_blended_galaxies_images.png
  case_studies/sdss_galaxies/notebooks/scratch/current.ipynb
  case_studies/sdss_galaxies/plots/main.py
  case_studies/sdss_galaxies/plots/sim_blend_metrics.py
Labels: feature, inference
