Repository prob-ml/bliss, pull requests merged in 2024-06, with the labels that each got.

#999 Yd/dc2 new plots
  .gitattributes
  .gitignore
  bliss/catalog.py
  bliss/conf/base_config.yaml
  bliss/encoder/encoder.py
  bliss/encoder/image_normalizer.py
  bliss/encoder/metrics.py
  bliss/encoder/variational_dist.py
  bliss/surveys/dc2.py
  case_studies/dc2/.gitignore
  case_studies/dc2/DC2_generate_catalog.ipynb
  case_studies/dc2/notebook_config.yaml
  case_studies/dc2_cataloging/.gitignore
  case_studies/dc2_cataloging/DC2_bootstrap_generate_data.ipynb
  case_studies/dc2_cataloging/DC2_bootstrap_testing.ipynb
  case_studies/dc2_cataloging/DC2_bootstrap_testing_full_image.ipynb
  case_studies/dc2_cataloging/DC2_exp.ipynb
  case_studies/dc2_cataloging/DC2_exp_record.md
  case_studies/dc2_cataloging/DC2_generate_catalog.ipynb
  case_studies/dc2_cataloging/full_train_config.yaml
  case_studies/dc2_cataloging/full_train_config_debug.yaml
  case_studies/dc2_cataloging/merged_catalog/merged_catalog_with_flux_over_50.pkl
  case_studies/dc2_cataloging/notebook_config.yaml
  case_studies/dc2_cataloging/run_dc2_exp.sh
  data/tests/dc2/dc2_multiband/.gitignore
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000000.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000001.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000002.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000003.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000004.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000005.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000006.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000007.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000008.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000009.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000010.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000011.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000012.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000013.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000014.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000015.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000016.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000017.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000018.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000019.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000020.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000021.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000022.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000023.pt
  data/tests/dc2/dc2_multiband/split_results/split_image_0000_00000024.pt
  poetry.lock
  pyproject.toml
  tests/test_catalogs.py
  tests/test_dc2.py
  tests/testing_config.yaml
Labels: case study

#1006 Refactor dc2 cataloging
  bliss/conf/base_config.yaml
  bliss/encoder/image_normalizer.py
  bliss/encoder/metrics.py
  bliss/encoder/variational_dist.py
  case_studies/dc2_cataloging/DC2_classification_accuracy.ipynb
  case_studies/dc2_cataloging/DC2_exp_record.md
  case_studies/dc2_cataloging/full_train_config.yaml
  case_studies/dc2_cataloging/full_train_config_debug.yaml
  case_studies/dc2_cataloging/run_dc2_exp.sh
  case_studies/dc2_cataloging/utils/convnet.py
  case_studies/dc2_cataloging/utils/encoder.py
  case_studies/dc2_cataloging/utils/image_normalizer.py
  case_studies/dc2_cataloging/utils/variational_dist.py
  case_studies/galaxy_clustering/data-gen.sh
  tests/test_dc2.py
  tests/test_metrics.py
  tests/testing_config.yaml
Labels: refactoring

#1014 GalaxyClusterEncoder simplification and DES calibration
  case_studies/galaxy_clustering/config.yaml
  case_studies/galaxy_clustering/data_generation/DES_data_extraction.py
  case_studies/galaxy_clustering/data_generation/galsim-des.yaml
  case_studies/galaxy_clustering/encoder/encoder.py
  case_studies/galaxy_clustering/encoder/metrics.py
  case_studies/galaxy_clustering/encoder/variational_dist.py
  case_studies/galaxy_clustering/notebooks/PredictionTest.ipynb
  case_studies/galaxy_clustering/prior.py
Labels: case study

#1012 Yd/update overleaf exp plot
  bliss/encoder/encoder.py
  bliss/encoder/metrics.py
  bliss/main.py
  bliss/surveys/dc2.py
  case_studies/dc2_cataloging/DC2_bootstrap_testing_full_image.ipynb
  case_studies/dc2_cataloging/DC2_boundary_performance.ipynb
  case_studies/dc2_cataloging/DC2_classification_accuracy.ipynb
  case_studies/dc2_cataloging/DC2_exp.ipynb
  case_studies/dc2_cataloging/DC2_exp_record.md
  case_studies/dc2_cataloging/DC2_get_percentile.ipynb
  case_studies/dc2_cataloging/full_train_config.yaml
  case_studies/dc2_cataloging/full_train_config_debug.yaml
  case_studies/dc2_cataloging/notebook_config.yaml
  case_studies/dc2_cataloging/run_dc2_exp.sh
  case_studies/dc2_cataloging/utils/convnet.py
  case_studies/dc2_cataloging/utils/encoder.py
  case_studies/dc2_cataloging/utils/image_normalizer.py
  case_studies/dc2_cataloging/utils/load_lsst.py
  case_studies/dc2_cataloging/utils/metrics.py
  case_studies/dc2_cataloging/utils/safe_metric_collection.py
  tests/testing_config.yaml
Labels: refactoring, case study

#1015 Yd/test container
  bliss/conf/base_config.yaml
  bliss/encoder/metrics.py
  bliss/main.py
  bliss/surveys/dc2.py
  case_studies/dc2_cataloging/DC2_exp_record.md
  case_studies/dc2_cataloging/full_train_config.yaml
  case_studies/dc2_cataloging/full_train_config_debug.yaml
  case_studies/dc2_cataloging/full_train_config_great_lake.yaml
  case_studies/dc2_cataloging/run_great_lake/README.md
  case_studies/dc2_cataloging/run_great_lake/bliss_machine.def
  case_studies/dc2_cataloging/run_great_lake/configs/full_train_config_great_lake.yaml
  case_studies/dc2_cataloging/run_great_lake/run_bliss_machine.sbatch
  case_studies/dc2_cataloging/run_great_lake/run_bliss_machine.sh
  case_studies/dc2_cataloging/run_great_lake/run_bliss_machine_interactive.sh
Labels: case study
